@media (max-width: 1200px) {
.search {
    margin: 10px 20px 9px;
}
.full-report > ul li > span {
    margin-right: 15px;
}
.search {
    width: 210px;
}
.search > input[type="text"] {
    width: 160px;
}
.logo {
    width: 230px;
}
.visit-table {
    margin-top: 30px;
}
.stats-counter-sec{
	box-shadow:none;
}
.stats-counter{
	box-shadow:0 0 16px rgba(0, 0, 0, 0.05);
}
.dounut-chart {
    margin-top: 0;
}
.dounut-chart #svg {
    display: table;
    float: none;
    margin: 0 auto !important;
    width: auto;
}
.input-group {
    margin-bottom: 10px;
}
.mail-area > .row > .col-md-4 {
    width: 30%;
}
.mail-area > .row > .col-md-8 {
    float: left;
    width: 70%;
}
.msg {
    float: left;
    margin: 20px auto 0;
    padding: 15px 51px;
    text-align: center;
    width: 100%;
}
.invoice-billing > .row > .col-md-6 {
    float: left;
    width: 50%;
}
.horizontal-menu > ul > li > a {
    border: medium none;
    padding: 20px 10px;
}
.horizontal-menu > ul {
    border: medium none;
}
.pattern-logo {
    text-align: center;
}
.checkbox {
    float: left;
    width: 100%;
}
.statistics-report > li > h6 {
    line-height: 26px;
}
.statistics-report > li {
    margin-right: 15px;
}
.dounut-chart #svg {
    margin-left: -20px;
}
.dounut-chart #svg text {
    font-size: 14px !important;
}
.thumb > h3{
	font-size:14px;
}
.inbox-msg {
    width: 210px;
}
.sortable.grid li {
    height: 100px;
    line-height: 80px;
    width: 100px;
}
.sidebar {
    display: none;
    width: 100px !important;
    z-index: 9;
}
.slide-menu .sidebar {
    display: block;
    width: 100px !important;
}
.content-sec{
	padding-left:0 !important;
	padding-right:0 !important;
}
.profile-stats {
    text-align: center;
}
 .mini-profile {
    padding: 0;
}
 .mini-profile > span {
    display: table;
    float: none;
    margin: 0 auto;
    position: relative;
    width: 38px;
}
.mini-profile > span img {
    
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.logout {
    display: table;
    float: none;
    margin: 10px auto 0;
    position: relative;
}
.mini-profile h3 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -2px;
}
.profile-stats {
    padding: 20px 10px;
    text-align: center;
}
.quick-stats > h5 {
    line-height: 16px;
}
.quick-stats > ul {
    float: left;
    margin: 0;
    width: 100%;
}
.quick-stats > ul > li {
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}
.single-menu > h2 > a {
    padding: 20px;
}
.single-menu > h2 > a > i {
    float: left;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.single-menu > h2 > a > span {
    background: none repeat scroll 0 0 #383c42;
    
	-webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
	
    left: 100%;
    margin-top: -6px;
    opacity: 0;
    padding: 10px 13px;
    position: absolute;
	
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	
    width: 150px;
	z-index: 99999;
}
.single-menu > h2 > a:hover > span {
    opacity: 1;
	
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.single-menu > h2.active {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.single-menu {
    float: left;
    position: relative;
    width: 100%;
}
.sub-menu {
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px;
    -ms-border-radius: 0 4px 4px;
    -o-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px;
	
    left: 100%;
    margin: 0;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.sub-menu:before {
    display: none;
}
.single-menu > h2 > i {
    left: 0;
    margin-top: -11px;
    right: auto;
    top: 0;
}
.sub-menu > ul > li {
    width: 50%;
}
.status > i {
    display: inline-block;
    float: none;
    height: 7px;
    margin-right: 2px;
    margin-top: 0;
    width: 7px;
}

.full-report > ul:before {
    left: 22px;
}
.full-report > ul li > span {
    height: 44px;
    line-height: 44px;
    width: 44px;
}
.dropdown.profile > a {
    height: 38px;
    overflow: hidden;
    width: 38px;
}



}

@media (min-width: 768px) and (max-width: 980px) {
.widget-area > .row .balance-widget {
    margin: 30px 0;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.price-table {
    margin: 0 0 30px;
}
#connected {
    float: left;
    width: 100%;
}
.sortable-style > .connected {
    float: left;
    width: 100%;
}
.calculator .row > .top > div {
    width: 50%;
	float: left;
}
.calculator .keys > div {
    float: left;
    width: 25%;
}
.clock {
    display: table;
    float: none;
    padding: 0;
    position: static;
    width: auto;
	margin:0 auto;
}
.logo {
    width: 230px;
}
.search {
    width: 210px;
	margin: 10px 20px 9px;
}
.search > input[type="text"] {
    width: 160px;
}
.header {
    position: relative;
}
.content-sec {
    padding: 0 !important;
}
.error-page {
    width: 60%;
}
.full-report > ul li {
    line-height: 37px;
}
.full-report > ul li > span {
    margin-right: 15px;
}
.visit-table {
    margin-top: 30px;
}
.stats-counter-sec{
	box-shadow:none;
}
.stats-counter{
	box-shadow:0 0 16px rgba(0, 0, 0, 0.05);
}
.dounut-chart {
    margin-top: 0;
}
.dounut-chart #svg {
    display: table;
    float: none;
    margin: 0 auto !important;
    width: auto;
}
.input-group {
    margin-bottom: 10px;
}
.mail-area > .row > .col-md-4 {
    width: 30%;
}
.mail-area > .row > .col-md-8 {
    float: left;
    width: 70%;
}
.msg {
    float: left;
    margin: 20px auto 0;
    padding: 15px 51px;
    text-align: center;
    width: 100%;
}
.invoice-billing > .row > .col-md-6 {
    float: left;
    width: 50%;
}
.horizontal-menu > ul > li > a {
    border: medium none;
    padding: 20px 10px;
}
.horizontal-menu > ul {
    border: medium none;
}
.pattern-logo {
    text-align: center;
}
.checkbox {
    float: left;
    width: 100%;
}
.statistics-report > li > h6 {
    line-height: 26px;
}
.statistics-report > li {
    margin-right: 15px;
}
.dounut-chart #svg {
    margin-left: -20px;
}
.dounut-chart #svg text {
    font-size: 14px !important;
}
.thumb > h3{
	font-size:14px;
}
.inbox-msg {
    width: 210px;
}
.sortable.grid li {
    height: 100px;
    line-height: 80px;
    width: 100px;
}
.pattern-lock-sec .container {
    float: left;
    padding-bottom: 30px;
    width: 100%;
}
/* Slide Menu */
.sidebar {
    display: none;
    width: 100px !important;
    z-index: 9;
}
.slide-menu .sidebar {
    display: block;
    padding: 0;
    width: 100px !important;
}
.content-sec{
	padding-left:0 !important;
	padding-right:0 !important;
}
.profile-stats {
    text-align: center;
}
 .mini-profile {
    padding: 0;
}
 .mini-profile > span {
    display: table;
    float: none;
    margin: 0 auto;
    position: relative;
    width: 38px;
}
.mini-profile > span img {
    
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.logout {
    display: table;
    float: none;
    margin: 10px auto 0;
    position: relative;
}
.mini-profile h3 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -2px;
}
.profile-stats {
    padding: 20px 10px;
    text-align: center;
}
.quick-stats > h5 {
    line-height: 16px;
}
.quick-stats > ul {
    float: left;
    margin: 0;
    width: 100%;
}
.quick-stats > ul > li {
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}
.single-menu > h2 > a {
    padding: 20px;
}
.single-menu > h2 > a > i {
    float: left;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.single-menu > h2 > a > span {
    background: none repeat scroll 0 0 #383c42;
    
	-webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
	
    left: 100%;
    margin-top: -6px;
    opacity: 0;
    padding: 10px 13px;
    position: absolute;
	
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	
    width: 150px;
	z-index: 99999;
}
.single-menu > h2 > a:hover > span {
    opacity: 1;
	
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.single-menu > h2.active {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.single-menu {
    float: left;
    position: relative;
    width: 100%;
}
.sub-menu {
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px;
    -ms-border-radius: 0 4px 4px;
    -o-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px;
	
    left: 100%;
    margin: 0;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.sub-menu:before {
    display: none;
}
.single-menu > h2 > i {
    left: 0;
    margin-top: -11px;
    right: auto;
    top: 0;
}
.sub-menu > ul > li {
    width: 50%;
}
.status > i {
    display: inline-block;
    float: none;
    height: 7px;
    margin-right: 2px;
    margin-top: 0;
    width: 7px;
}
.dropdown.profile > a {
    height: 38px;
    overflow: hidden;
    width: 38px;
}



















}

@media (max-width: 767px) {
#task-form input{
	width:70%;
}
#task-form button{
	width:30%;
}
.widget-area > .row .balance-widget {
    margin: 30px 0;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.custom-dropdowns {
    padding-left: 15px;
}
.price-table {
    margin: 0 0 30px;
}
#connected {
    float: left;
    width: 100%;
}
.sortable-style > .connected {
    float: left;
    width: 100%;
}
.calculator .row > .top > div {
    width: 50%;
	float: left;
}
.calculator .keys > div {
    float: left;
    width: 25%;
}
.clock {
    display: table;
    float: none;
    padding: 0;
    position: static;
    width: auto;
	margin:0 auto;
}
.logo {
    width: 230px;
}
.search {
    width: 210px;
	margin: 10px 20px 9px;
}
.search > input[type="text"] {
    width: 160px;
}
.header {
    position: relative;
}
.content-sec {
    padding: 0 !important;
}
.error-page {
    width: 60%;
}
.full-report > ul li {
    line-height: 37px;
}
.full-report > ul li > span {
    margin-right: 15px;
}
.visit-table {
    margin-top: 30px;
}
.stats-counter-sec{
	box-shadow:none;
}
.stats-counter{
	box-shadow:0 0 16px rgba(0, 0, 0, 0.05);
}
.dounut-chart {
    margin-top: 0;
}
.dounut-chart #svg {
    display: table;
    float: none;
    margin: 0 auto !important;
    width: auto;
}
.input-group {
    margin-bottom: 10px;
}
.mail-area > .row > .col-md-4 {
    width: 100%;
}
.mail-area > .row > .col-md-8 {
    width: 100%;
}
.all-mail {
    margin-top: 30px;
}
.description {
    display: none;
}
.date {
    width: 20%;
}
.invoice-number {
    width: 20%;
}
.quantity {
    width: 20%;
}
.vat {
    width: 20%;
}
.total {
    width: 20%;
}
.long-column {
    width: 80%;
}
.msg {
    float: left;
    margin: 20px auto 0;
    padding: 15px 51px;
    text-align: center;
    width: 100%;
}
.invoice-billing > .row > .col-md-6 {
    float: left;
    width: 50%;
}
.horizontal-menu > ul > li > a {
    border: medium none;
    padding: 20px 10px;
}
.horizontal-menu > ul {
    border: medium none;
}
.pattern-logo {
    text-align: center;
}
.checkbox {
    float: left;
    width: 100%;
}
.statistics-report > li > h6 {
    line-height: 26px;
}
.statistics-report > li {
    margin-right: 15px;
}
.dounut-chart #svg {
    margin-left: -20px;
}
.dounut-chart #svg text {
    font-size: 14px !important;
}
.thumb > h3{
	font-size:14px;
}
.inbox-msg {
    width: 210px;
}
.sortable.grid li {
    height: 100px;
    line-height: 80px;
    width: 100px;
}
.pattern-lock-sec .container {
    float: left;
    padding-bottom: 30px;
    width: 100%;
}
/* Slide Menu */
.sidebar {
    display: none;
    width: 100px !important;
    z-index: 9;
}
.slide-menu .sidebar {
    display: block;
    padding: 0;
    width: 100px !important;
}
.content-sec{
	padding-left:0 !important;
	padding-right:0 !important;
}
.profile-stats {
    text-align: center;
}
 .mini-profile {
    padding: 0;
}
 .mini-profile > span {
    display: table;
    float: none;
    margin: 0 auto;
    position: relative;
    width: 38px;
}
.mini-profile > span img {
    
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.logout {
    display: table;
    float: none;
    margin: 10px auto 0;
    position: relative;
}
.mini-profile h3 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -2px;
}
.profile-stats {
    padding: 20px 10px;
    text-align: center;
}
.quick-stats > h5 {
    line-height: 16px;
}
.quick-stats > ul {
    float: left;
    margin: 0;
    width: 100%;
}
.quick-stats > ul > li {
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}
.single-menu > h2 > a {
    padding: 20px;
}
.single-menu > h2 > a > i {
    float: left;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.single-menu > h2 > a > span {
    background: none repeat scroll 0 0 #383c42;
    
	-webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
	
    left: 100%;
    margin-top: -6px;
    opacity: 0;
    padding: 10px 13px;
    position: absolute;
	
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    
	-webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	
    width: 150px;
	z-index: 99999;
}
.single-menu > h2 > a:hover > span {
    opacity: 1;
	
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.single-menu > h2.active {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.single-menu {
    float: left;
    position: relative;
    width: 100%;
}
.sub-menu {
    -webkit-border-radius: 0 4px 4px;
    -moz-border-radius: 0 4px 4px;
    -ms-border-radius: 0 4px 4px;
    -o-border-radius: 0 4px 4px;
    border-radius: 0 4px 4px;
	
    left: 100%;
    margin: 0;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.sub-menu:before {
    display: none;
}
.single-menu > h2 > i {
    left: 0;
    margin-top: -11px;
    right: auto;
    top: 0;
}
.sub-menu > ul > li {
    width: 50%;
}
.status > i {
    display: inline-block;
    float: none;
    height: 7px;
    margin-right: 2px;
    margin-top: 0;
    width: 7px;
}
.dropdown.profile {
    display: none;
}
.custom-dropdowns .dropdown > a {
    margin-right: 10px;
    padding-right: 10px;
}
.drop-list {
    left: 0;
    right: auto;
    width: 210px;
}
.drop-list:before {
    left: 30px;
}
.dropdown.profile > a {
    height: 38px;
    overflow: hidden;
    width: 38px;
}
.custom-dropdowns .dropdown:last-child > a {
    margin: 0;
    padding: 0;
}
.notification.drop-list {
    width: 210px;
}
.custom-dropdowns .dropdown:last-child > .drop-list {
    left: 50%;
    margin-left: -105px;
}
.custom-dropdowns .dropdown:last-child > .drop-list:before {
    left: 50%;
}
.dropdown.profile > a {
    height: 38px;
    overflow: hidden;
    width: 38px;
}
.sub-menu > ul > li span {
    display: none;
}
.sub-menu > ul > li > a:hover {
    padding: 0;
}
.profile-avatar > span img {
    width: 70px;
}
.profile-avatar {
    max-width: none;
    padding-left: 90px;
    width: 100%;
}
.profile-name > h3 {
    font-size: 18px;
}
.profile-name > i {
    font-size: 13px;
}
.profile-count {
    border: 0 none;
    float: left;
    margin: 40px 0 0;
    position: relative;
    right: 0;
    width: 100%;
}
.profile-count > li {
    font-size: 17px;
}
.profile-count > li > i {
    font-size: 13px;
}
.profile-connect {
    float: right;
    left: 0;
    position: relative;
    top: 0;
    width: auto;
}
#stream_table td {
    font-size: 9px;
    padding: 2px;
}
#stream_table th:last-child {
    display: none;
}
#stream_table td:last-child {
    display: none;
}
#stream_table tr > td:first-child {
    display: none;
}
#stream_table tr th:first-child {
    display: none;
}
.table.table-striped.table-bordered {
    display: inline;
    float: left;
    margin-top: 20px;
    overflow: hidden !important;
    width: 100% !important;
}

}

@media (max-width: 480px)  {
#task-form input{
	width:70%;
}
#task-form button{
	width:30%;
}
.widget-area > .row .balance-widget {
    margin: 30px 0;
}
.responsive-header{
	display:block
}
.horizontal-menu{
	display:none;
}
.vat {
    display: none;
}
.invoice-number,
.date,
.quantity,
.total {
    width: 25%;
}
.invoice-number.long-column {
    width: 75%;
}
.invoice li div p {
    font-size: 11px;
}
.login {
    margin-left: -110px;
    width: 220px;
}
.login-form {
    padding: 20px;
}
.login-form > h5 {
    font-size: 13px;
}
.reg-social-btns > li > a > i:hover {
    padding-left: 20px;
    padding-right: 18px;
    width: 50px;
}
.login-form > form > label {
    text-align: center;
    width: 100%;
	margin-bottom:15px;
}
.login-form > form button {
    display: table;
    float: none;
    margin: 0 auto;
}
.profile-avatar {
    margin-bottom: 34px;
    padding: 0;
}
.main-title > h5 {
    margin: 0 13px 0 0;
}
.profile-head {
    padding: 20px;
}
.profile-avatar > span {
    display: table;
    float: none;
    margin: 0 auto;
    position: relative;
}
.profile-name {
    text-align: center;
}
.profile-name .social-btns {
    display: table;
    float: none;
    margin: 0 auto;
    width: auto;
}
.profile-name > i {
    margin-bottom: 20px;
}
.profile-connect > li > a {
    font-size: 13px;
    margin: 0;
    padding: 7px 16px;
}
.profile-count {
    display: table;
    float: none;
    margin: 0 auto;
    width: auto;
}
.profile-connect {
    display: table;
    float: none;
    margin: 0 auto;
}
.profile-connect > li {
    margin: 0 3px;
}
.profile-count > li {
    font-size: 17px;
    text-align: center;
    width: 70px;
}
.timeline-detail:before {
    display: none;
}
.bheader > h2 {
    font-size: 12px;

}
.bbody > form {
    display: inline;
    float: left;
    width: 100%;
}
.image-crop input[type="file"] {
    display: table;
    float: none;
    margin: 0 auto;
    width: 180px;
}
.step2 > h2 {
    font-size: 12px;
    padding: 0 20px;
}
.image-crop label {
    float: left;
    margin: 0 5px;
    width: 100%;
	margin:0;
}
.info input {
    float: left;
    width: 100%;
}
.anchor > li {
    margin-bottom: 15px;
}
.actionBar > a {
    font-size: 11px;
    padding: 5px 8px;
}
.inline-form > input, .inline-form > textarea {
    font-size: 12px;
}
.actionBar .close {
    display: none;
}

#upload_form > div {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
#upload_form > h2 {
    float: left;
    font-size: 11px;
    width: 100%;
}
.error-page {
    width: 100%;
}
.error-page > input {
    width: 205px;
}
.error-page h1 {
    font-size: 90px;
    line-height: 74px;
}
.error-page > h2 {
    font-size: 17px;
    margin: 25px 0 30px;
    padding: 0 30px;
}
.logo {
    padding-left: 15px;
    padding-right: 10px;
    width: 100%;
}
.search {
    display: table;
    float: none;
    margin: 0 auto;
}
.custom-dropdowns {
    float: left;
    padding-bottom: 20px;
    padding-left: 60px;
}
.dropdown.profile {
    display: none;
}
.custom-dropdowns .dropdown > a {
    margin-right: 10px;
    padding-right: 10px;
}
.drop-list {
    left: 0;
    right: auto;
    width: 210px;
}
.drop-list:before {
    left: 30px;
}
.dropdown.profile > a {
    height: 38px;
    overflow: hidden;
    width: 38px;
}
.custom-dropdowns .dropdown:last-child > a {
    margin: 0;
    padding: 0;
}
.notification.drop-list {
    width: 210px;
}
.custom-dropdowns .dropdown:last-child > .drop-list {
    left: 50%;
    margin-left: -105px;
}
.custom-dropdowns .dropdown:last-child > .drop-list:before {
    left: 50%;
}
#panel-scroll {
    width: 240px !important;
}
.toggle-setting > span {
    font-size: 12px;
    text-align: center;
    width: 100%;
	margin-bottom:10px
}
.toggle-setting > .toggle-switch {
    display: table;
    float: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.fc-header-right {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: left;
    width: auto;
}
.server > span {
    margin-bottom: 12px;
}
.earning-status h4 {
    font-size: 11px;
}
.dounut-chart #svg {
    height: 230px;
}
.dounut-chart #svg {
    float: left;
    margin-left: -90px;
    width: 100%;
}
.dounut-chart #svg text {
    display: none;
}
.example-space > .row > div {
    width: 100%;
}
.slide-menu .sub-menu {
    padding: 10px 0;
    width: 220px;
}
.sub-menu {
    padding: 10px;
}
.sub-menu > ul > li > a {
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.sub-menu > ul > li > a {
    font-size: 12px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-menu > ul > li > a:before {
    display: none;
}
.sub-menu > ul > li span {
    display: none;
}
.sub-menu > ul > li > a:hover {
    padding: 0;
}
.widget-area {
    padding: 20px;
}
.full-report > ul li > span {
    height: 34px;
    line-height: 34px;
    width: 34px;
}
.full-report > ul:before {
    left: 17px;
}
.social-btns {
    float: left;
    margin: 15px 0 0;
    width: auto;
}
.timeline {
    padding: 0;
}
.timeline-sec > ul:before {
    display: none;
}
.user-timeline {
    display: table;
    float: none;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
    width: auto;
}
.user-timeline > span:before {
    background: none repeat scroll 0 0 #f5f5f5;
    content: "";
    height: 30px;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 1px;
}
.slide-menu .mini-profile h3 {
    font-size: 13px;
}
.graph-details > ul > li {
    float: left;
    margin-bottom: 10px;
    width: auto;
}
.tickLabel {
    margin-right: 7px !important;
}
.status-upload ul {
    padding: 0;
    width: 100%;
}
.status-upload form button {
    float: left;
    margin: 0 auto 12px 11px;
}
.work-progress-table > .panel-heading {
    padding: 17px 13px 11px;
	font-size: 13px;
}
.work-progress-table > .panel-heading > i {
    font-size: 11px;
}
.work-progress-table .table td {
    font-size: 12px;
}
.dounut-chart .status-progress-sec {
    margin-top: -10px;
}
.twitter-profile {
    padding: 20px;
    text-align: center;
}
.twitter-profile > span {
    display: table;
    float: none;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
}
.twitter-profile > h3 {
    font-size: 15px;
}
.twitter-activity > li > span {
    font-size: 15px;
}
.twitter-activity > li > i {
    font-size: 10px;
}
.full-width {
    margin: 0 -20px;
}
.email.unread a {
    float: right;
}









}